@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");




body {
    font-family: Raleway, serif;
    background: linear-gradient(30deg, #141742 0%, #152573 100%);
}

p {
    color: aliceblue;
}




.nav-link {
    color:goldenrod;
}

.navbar-nav .nav-link.active {
    color:rgb(255, 199, 57);
}

.navbar-brand img {
    width: 50px;
}

.navbar-toggler {
    background-color: midnightblue;
}


.carousel-inner {
    background-color: aliceblue;
}

.carousel-inner p {
    color: darkslategray;
}

#carouselExampleIndicators .carousel-indicators button {
    background-color: rgb(143, 161, 161);
}


.sidebar {
    color:aliceblue;
    /* background: linear-gradient(30deg, #141742 0%, #152573 100%); */
}

.sidebar a {
    text-decoration: none;
    color:rgb(255, 199, 57);
}

.card {
    color: darkslategray;
}

.card a {
    text-decoration: none;
    color: darkslategray;
}

/* ВПЕРВЫЕ ОБРАЩАЮСЬ САМА */

.card p {
    color: darkslategray;
}

.card-body .btn-primary {
    color:aliceblue;
}

/* ЧУВСТВУЮ СЕБЯ ГЕНИЕМ */

.slide-text,
.footer-text {
    color:aliceblue;
    margin: auto auto;
}

footer {
    background-color: rgb(47, 47, 47);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}



.anim {
    animation: bot 15s ease 0s infinite normal forwards;
}

@keyframes bot {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}






@media (max-width:755px) {
    .carousel-indicators {
        display: none;
    }
}